In [1]:
import pandas as pd
import numpy as np

# import polars as pl

In [2]:
raw_data_folder="../../../data/raw"
cleaned_data_folder="../../../data/cleaned"

In [3]:
# Loading dataset
df = pd.read_csv(f"{raw_data_folder}/FINAL_USO.csv")
df.head().T

                        0           1           2           3           4
Date           2011-12-15  2011-12-16  2011-12-19  2011-12-20  2011-12-21
Open           154.740005  154.309998  155.479996  156.820007  156.979996
High           154.949997  155.369995  155.860001  157.429993  157.529999
Low            151.710007  153.899994  154.360001  156.580002  156.130005
Close          152.330002  155.229996  154.869995  156.979996  157.160004
...                   ...         ...         ...         ...         ...
USO_High        36.939999        36.5   36.450001   37.610001   38.240002
USO_Low         36.049999       35.73       35.93   37.220001       37.52
USO_Close       36.130001       36.27   36.200001   37.560001   38.110001
USO_Adj Close   36.130001       36.27   36.200001   37.560001   38.110001
USO_Volume       12616700    12578800     7418200    10041600    10728000

[81 rows x 5 columns]

In [4]:
# Checking dataset structure
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1718 entries, 0 to 1717
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1718 non-null   object
 1   Open           1718 non-null   float64
 2   High           1718 non-null   float64
 3   Low            1718 non-null   float64
 4   Close          1718 non-null   float64
 5   Adj Close      1718 non-null   float64
 6   Volume         1718 non-null   int64
 7   SP_open        1718 non-null   float64
 8   SP_high        1718 non-null   float64
 9   SP_low         1718 non-null   float64
 10  SP_close       1718 non-null   float64
 11  SP_Ajclose     1718 non-null   float64
 12  SP_volume      1718 non-null   int64
 13  DJ_open        1718 non-null   float64
 14  DJ_high        1718 non-null   float64
 15  DJ_low         1718 non-null   float64
 16  DJ_close       1718 non-null   float64
 17  DJ_Ajclose     1718 non-null   float64
 18  DJ_volume      1718 non-null   int64
 19  EG_open        1718 non-null   float64
 20  EG_high        1718 non-null   float64
 21  EG_low         1718 non-null   float64
 22  EG_close       1718 non-null   float64
 23  EG_Ajclose     1718 non-null   float64
 24  EG_volume      1718 non-null   int64
 25  EU_Price       1718 non-null   float64
 26  EU_open        1718 non-null   float64
 27  EU_high        1718 non-null   float64
 28  EU_low         1718 non-null   float64
 29  EU_Trend       1718 non-null   int64
 30  OF_Price       1718 non-null   float64
 31  OF_Open        1718 non-null   float64
 32  OF_High        1718 non-null   float64
 33  OF_Low         1718 non-null   float64
 34  OF_Volume      1718 non-null   int64
 35  OF_Trend       1718 non-null   int64
 36  OS_Price       1718 non-null   float64
 37  OS_Open        1718 non-null   float64
 38  OS_High        1718 non-null   float64
 39  OS_Low         1718 non-null   float64
 40  OS_Trend       1718 non-null   int64
 41  SF_Price       1718 non-null   int64
 42  SF_Open        1718 non-null   int64
 43  SF_High        1718 non-null   int64
 44  SF_Low         1718 non-null   int64
 45  SF_Volume      1718 non-null   int64
 46  SF_Trend       1718 non-null   int64
 47  USB_Price      1718 non-null   float64
 48  USB_Open       1718 non-null   float64
 49  USB_High       1718 non-null   float64
 50  USB_Low        1718 non-null   float64
 51  USB_Trend      1718 non-null   int64
 52  PLT_Price      1718 non-null   float64
 53  PLT_Open       1718 non-null   float64
 54  PLT_High       1718 non-null   float64
 55  PLT_Low        1718 non-null   float64
 56  PLT_Trend      1718 non-null   int64
 57  PLD_Price      1718 non-null   float64
 58  PLD_Open       1718 non-null   float64
 59  PLD_High       1718 non-null   float64
 60  PLD_Low        1718 non-null   float64
 61  PLD_Trend      1718 non-null   int64
 62  RHO_PRICE      1718 non-null   int64
 63  USDI_Price     1718 non-null   float64
 64  USDI_Open      1718 non-null   float64
 65  USDI_High      1718 non-null   float64
 66  USDI_Low       1718 non-null   float64
 67  USDI_Volume    1718 non-null   int64
 68  USDI_Trend     1718 non-null   int64
 69  GDX_Open       1718 non-null   float64
 70  GDX_High       1718 non-null   float64
 71  GDX_Low        1718 non-null   float64
 72  GDX_Close      1718 non-null   float64
 73  GDX_Adj Close  1718 non-null   float64
 74  GDX_Volume     1718 non-null   int64
 75  USO_Open       1718 non-null   float64
 76  USO_High       1718 non-null   float64
 77  USO_Low        1718 non-null   float64
 78  USO_Close      1718 non-null   float64
 79  USO_Adj Close  1718 non-null   float64
 80  USO_Volume     1718 non-null   int64
dtypes: float64(58), int64(22), object(1)
memory usage: 1.1+ MB

In [5]:
# Converting Date column from str to datetime
df["Date"] = pd.to_datetime(df["Date"])

# Check conversion was done
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1718 entries, 0 to 1717
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1718 non-null   datetime64[ns]
 1   Open           1718 non-null   float64
 2   High           1718 non-null   float64
 3   Low            1718 non-null   float64
 4   Close          1718 non-null   float64
 5   Adj Close      1718 non-null   float64
 6   Volume         1718 non-null   int64
 7   SP_open        1718 non-null   float64
 8   SP_high        1718 non-null   float64
 9   SP_low         1718 non-null   float64
 10  SP_close       1718 non-null   float64
 11  SP_Ajclose     1718 non-null   float64
 12  SP_volume      1718 non-null   int64
 13  DJ_open        1718 non-null   float64
 14  DJ_high        1718 non-null   float64
 15  DJ_low         1718 non-null   float64
 16  DJ_close       1718 non-null   float64
 17  DJ_Ajclose     1718 non-null   float64
 18  DJ_volume      1718 non-null   int64
 19  EG_open        1718 non-null   float64
 20  EG_high        1718 non-null   float64
 21  EG_low         1718 non-null   float64
 22  EG_close       1718 non-null   float64
 23  EG_Ajclose     1718 non-null   float64
 24  EG_volume      1718 non-null   int64
 25  EU_Price       1718 non-null   float64
 26  EU_open        1718 non-null   float64
 27  EU_high        1718 non-null   float64
 28  EU_low         1718 non-null   float64
 29  EU_Trend       1718 non-null   int64
 30  OF_Price       1718 non-null   float64
 31  OF_Open        1718 non-null   float64
 32  OF_High        1718 non-null   float64
 33  OF_Low         1718 non-null   float64
 34  OF_Volume      1718 non-null   int64
 35  OF_Trend       1718 non-null   int64
 36  OS_Price       1718 non-null   float64
 37  OS_Open        1718 non-null   float64
 38  OS_High        1718 non-null   float64
 39  OS_Low         1718 non-null   float64
 40  OS_Trend       1718 non-null   int64
 41  SF_Price       1718 non-null   int64
 42  SF_Open        1718 non-null   int64
 43  SF_High        1718 non-null   int64
 44  SF_Low         1718 non-null   int64
 45  SF_Volume      1718 non-null   int64
 46  SF_Trend       1718 non-null   int64
 47  USB_Price      1718 non-null   float64
 48  USB_Open       1718 non-null   float64
 49  USB_High       1718 non-null   float64
 50  USB_Low        1718 non-null   float64
 51  USB_Trend      1718 non-null   int64
 52  PLT_Price      1718 non-null   float64
 53  PLT_Open       1718 non-null   float64
 54  PLT_High       1718 non-null   float64
 55  PLT_Low        1718 non-null   float64
 56  PLT_Trend      1718 non-null   int64
 57  PLD_Price      1718 non-null   float64
 58  PLD_Open       1718 non-null   float64
 59  PLD_High       1718 non-null   float64
 60  PLD_Low        1718 non-null   float64
 61  PLD_Trend      1718 non-null   int64
 62  RHO_PRICE      1718 non-null   int64
 63  USDI_Price     1718 non-null   float64
 64  USDI_Open      1718 non-null   float64
 65  USDI_High      1718 non-null   float64
 66  USDI_Low       1718 non-null   float64
 67  USDI_Volume    1718 non-null   int64
 68  USDI_Trend     1718 non-null   int64
 69  GDX_Open       1718 non-null   float64
 70  GDX_High       1718 non-null   float64
 71  GDX_Low        1718 non-null   float64
 72  GDX_Close      1718 non-null   float64
 73  GDX_Adj Close  1718 non-null   float64
 74  GDX_Volume     1718 non-null   int64
 75  USO_Open       1718 non-null   float64
 76  USO_High       1718 non-null   float64
 77  USO_Low        1718 non-null   float64
 78  USO_Close      1718 non-null   float64
 79  USO_Adj Close  1718 non-null   float64
 80  USO_Volume     1718 non-null   int64
dtypes: datetime64[ns](1), float64(58), int64(22)
memory usage: 1.1 MB

Looking at the data structure, things seems pretty clean. So we will engineer the `Date` column for future use.

In [6]:
# Taking a look at Date column content
df["Date"].head()

0   2011-12-15
1   2011-12-16
2   2011-12-19
3   2011-12-20
4   2011-12-21
Name: Date, dtype: datetime64[ns]

In [7]:
# Engineering new features
df["Day"] = df["Date"].dt.day
df["Month"] = df["Date"].dt.month
df["Year"] = df["Date"].dt.year

df.head().T

,0,1,2,3,4
Date,2011-12-15 00:00:00,2011-12-16 00:00:00,2011-12-19 00:00:00,2011-12-20 00:00:00,2011-12-21 00:00:00
Open,154.740005,154.309998,155.479996,156.820007,156.979996
High,154.949997,155.369995,155.860001,157.429993,157.529999
Low,151.710007,153.899994,154.360001,156.580002,156.130005
Close,152.330002,155.229996,154.869995,156.979996,157.160004
...,...,...,...,...,...
USO_Adj Close,36.130001,36.27,36.200001,37.560001,38.110001
USO_Volume,12616700,12578800,7418200,10041600,10728000
Day,15,16,19,20,21
Month,12,12,12,12,12
Year,2011,2011,2011,2011,2011

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1718 entries, 0 to 1717
Data columns (total 84 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1718 non-null   datetime64[ns]
 1   Open           1718 non-null   float64
 2   High           1718 non-null   float64
 3   Low            1718 non-null   float64
 4   Close          1718 non-null   float64
 5   Adj Close      1718 non-null   float64
 6   Volume         1718 non-null   int64
 7   SP_open        1718 non-null   float64
 8   SP_high        1718 non-null   float64
 9   SP_low         1718 non-null   float64
 10  SP_close       1718 non-null   float64
 11  SP_Ajclose     1718 non-null   float64
 12  SP_volume      1718 non-null   int64
 13  DJ_open        1718 non-null   float64
 14  DJ_high        1718 non-null   float64
 15  DJ_low         1718 non-null   float64
 16  DJ_close       1718 non-null   float64
 17  DJ_Ajclose     1718 non-null   float64
 18  DJ_volume      1718 non-null   int64
 19  EG_open        1718 non-null   float64
 20  EG_high        1718 non-null   float64
 21  EG_low         1718 non-null   float64
 22  EG_close       1718 non-null   float64
 23  EG_Ajclose     1718 non-null   float64
 24  EG_volume      1718 non-null   int64
 25  EU_Price       1718 non-null   float64
 26  EU_open        1718 non-null   float64
 27  EU_high        1718 non-null   float64
 28  EU_low         1718 non-null   float64
 29  EU_Trend       1718 non-null   int64
 30  OF_Price       1718 non-null   float64
 31  OF_Open        1718 non-null   float64
 32  OF_High        1718 non-null   float64
 33  OF_Low         1718 non-null   float64
 34  OF_Volume      1718 non-null   int64
 35  OF_Trend       1718 non-null   int64
 36  OS_Price       1718 non-null   float64
 37  OS_Open        1718 non-null   float64
 38  OS_High        1718 non-null   float64
 39  OS_Low         1718 non-null   float64
 40  OS_Trend       1718 non-null   int64
 41  SF_Price       1718 non-null   int64
 42  SF_Open        1718 non-null   int64
 43  SF_High        1718 non-null   int64
 44  SF_Low         1718 non-null   int64
 45  SF_Volume      1718 non-null   int64
 46  SF_Trend       1718 non-null   int64
 47  USB_Price      1718 non-null   float64
 48  USB_Open       1718 non-null   float64
 49  USB_High       1718 non-null   float64
 50  USB_Low        1718 non-null   float64
 51  USB_Trend      1718 non-null   int64
 52  PLT_Price      1718 non-null   float64
 53  PLT_Open       1718 non-null   float64
 54  PLT_High       1718 non-null   float64
 55  PLT_Low        1718 non-null   float64
 56  PLT_Trend      1718 non-null   int64
 57  PLD_Price      1718 non-null   float64
 58  PLD_Open       1718 non-null   float64
 59  PLD_High       1718 non-null   float64
 60  PLD_Low        1718 non-null   float64
 61  PLD_Trend      1718 non-null   int64
 62  RHO_PRICE      1718 non-null   int64
 63  USDI_Price     1718 non-null   float64
 64  USDI_Open      1718 non-null   float64
 65  USDI_High      1718 non-null   float64
 66  USDI_Low       1718 non-null   float64
 67  USDI_Volume    1718 non-null   int64
 68  USDI_Trend     1718 non-null   int64
 69  GDX_Open       1718 non-null   float64
 70  GDX_High       1718 non-null   float64
 71  GDX_Low        1718 non-null   float64
 72  GDX_Close      1718 non-null   float64
 73  GDX_Adj Close  1718 non-null   float64
 74  GDX_Volume     1718 non-null   int64
 75  USO_Open       1718 non-null   float64
 76  USO_High       1718 non-null   float64
 77  USO_Low        1718 non-null   float64
 78  USO_Close      1718 non-null   float64
 79  USO_Adj Close  1718 non-null   float64
 80  USO_Volume     1718 non-null   int64
 81  Day            1718 non-null   int32
 82  Month          1718 non-null   int32
 83  Year           1718 non-null   int32
dtypes: datetime64[ns](1), float64(58), int32(3), int64(22)
memory usage: 1.1 MB

In [9]:
# Saving dataset to disk
df.to_csv(f"{cleaned_data_folder}/cleaned_dataset.csv", index=False)

# Making sure dataset was save on disk
saved_df = pd.read_csv(f"{cleaned_data_folder}/cleaned_dataset.csv")
saved_df.head().T

                        0           1           2           3           4
Date           2011-12-15  2011-12-16  2011-12-19  2011-12-20  2011-12-21
Open           154.740005  154.309998  155.479996  156.820007  156.979996
High           154.949997  155.369995  155.860001  157.429993  157.529999
Low            151.710007  153.899994  154.360001  156.580002  156.130005
Close          152.330002  155.229996  154.869995  156.979996  157.160004
...                   ...         ...         ...         ...         ...
USO_Adj Close   36.130001       36.27   36.200001   37.560001   38.110001
USO_Volume       12616700    12578800     7418200    10041600    10728000
Day                    15          16          19          20          21
Month                  12          12          12          12          12
Year                 2011        2011        2011        2011        2011

[84 rows x 5 columns]